*.o
*.gdb_history
kaggle.json

data/*
src/.vscode/*
test_camara_filter/*
.vscode/

poetry.lock
.python-version

src/camara 
src/initialize_vectorizer
src/app

*.dat
*.csv

src/aoc_final.eff-info

__pycache__/
*.pyc