*.o
*.gdb_history
kaggle.json

src/dataset/*
src/data/*
src/.vscode/*
test_camara_filter/*
.vscode/

poetry.lock
.python-version

src/camara 
src/initialize_vectorizer

*.dat
*.csv

src/aoc_final.eff-info